
/*Section History*/
/*Container page history*/
.container-history{
  display: grid;
  grid-template-columns: 0.5fr repeat(2, 1fr) 0.5fr 1fr;
  grid-template-rows: 0.3fr 0.1fr 0.1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;  
}
.content-paragraph{
    grid-area: 3 / 2 / 5 / 4;
}

.img-founder{
    grid-area: 3 / 5 / 4 / 6;
}
/*Section Carousel*/
.carousel-history{
    grid-area: 4 / 2 / 4 / 6;
    color: var(--FontPrimary);
}
.mySlides {display: none}
.image-carousel{
    background: var(--Silver);
    margin: 0 auto;
    width: 27em;
    height: 18em;
}
.caraousel-image{
    margin:10px auto;
	display:block;
    width: auto;
    height: 100%;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 5px;
  margin-top: -22px;
  color: white;
  background: var(--FontPrimary);
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-align: center;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
  color: var(--FontSecundary);
  font-size: 15px;
  padding: 8px 12px;
  margin: 0 auto;
  bottom: 8px;
 width: 31.250em;
  text-align: center;
}
.text h3{
    font-weight:800;
    
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
